{%  extends "ownership/base.html" %}

{% block content %}
<h4>Delivery Service</h4>
<p>
    Enter reason for declining project {{ project_title }}.
</p>
<form action="{% url 'ownership-decline' %}" method="post">
  <div>
    {% csrf_token %}
    <input type="hidden" name="token" value="{{ token }}">

    <textarea autofocus class="decline_textarea" type="text" rows= "10" name="decline_reason" ></textarea>

      <div><span class="error_message">{{ error_message }}</span></div>
    <input type="submit" value="Decline"
           name="decline"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent standard_button mdl-js-ripple-effect">

    <input type="submit" value="Cancel"
           name="cancel"
           class="mdl-button mdl-js-button mdl-button--raised standard_button mdl-js-ripple-effect">
  </div>
</form>
{% endblock %}