D4S2_ALLOWED_HOST=*
D4S2_SECRET_KEY=
D4S2_DDSCLIENT_URL=
D4S2_DDSCLIENT_PORTAL_ROOT=
D4S2_DDSCLIENT_AGENT_KEY=
D4S2_DDSCLIENT_OPENID_PROVIDER_ID=
D4S2_SMTP_HOST=
POSTGRES_USER=d4s2_user
POSTGRES_PASSWORD=
POSTGRES_DB=d4s2_db
POSTGRES_HOST=db
