HANDOVERSERVICE_SECRET_KEY=
HANDOVERSERVICE_DDSCLIENT_URL=
HANDOVERSERVICE_DDSCLIENT_PORTAL_ROOT=
HANDOVERSERVICE_DDSCLIENT_AGENT_KEY=
HANDOVERSERVICE_SMTP_HOST=
POSTGRES_USER=handover_user
POSTGRES_PASSWORD=
POSTGRES_DB=handover
