.details_label {
    font-weight: bold;
    font-size: 12pt;
}

.details_data {
    font-size: 12pt;
}

.blurb {
    margin: 10px;
    font-size: 12pt;
}

.standard_button {
    margin: 5px;
}

.decline_textarea {
    width: 100%;
    padding: 2px;
    font-size: 12pt;
}

.error_message {
    color: red;
    font-weight: bold;
}

a.login_local {
    font-size: small;
    color: rgb(180,180,180);
    text-decoration: none;
}

.instruction_field {
    font-weight: bold;
}
